.zoom-control {
    @media(min-width: 1200px) {
        display: none;
    }
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    z-index: 999;
    background: #fff;
    display: flex;
    color: #555;
    font-size: .7em;
    .zoom {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &.zoom-far {
            border-right: 1px solid #eee;
        }
        &.zoom-near {
            border-left: 1px solid #eee;
        }
        &:focus {
            background-color: #eee;
        }
    }
}
.follow-control {
    @media(min-width: 1200px) {
        display: none;
    }
    position: absolute;
    bottom: 50px;
    height: 50px;
    background-color: #fff;
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #eee;
    color: #555;
    font-size: .7em;
    display: flex;
    .follow-item {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &:focus {
            background-color: #eee;
        }
        &.follow-btn {
            text-decoration: line-through;
            &.active {
                text-decoration: none;
                background-color: #eee;
            }
        }
        &.center-btn {
            border-left: 1px solid #eee;
        }
    }
}