.zoom-control {
    @media(min-width: 1200px) {
        display: none;
    }
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
    z-index: 999;
    background: rgba(255,255,255,.9);
    display: flex;
    color: #555;
    .zoom {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &.zoom-far {
            border-right: 1px solid #eee;
        }
        &.zoom-near {
            border-left: 1px solid #eee;
        }
        // &:focus {
        //     background-color: #eee;
        // }
        &.active {
            color: #e74c3c;
        }
        &.more-active {
            color: #9b59b6;
        }
    }
}
.follow-control {
    @media(min-width: 1200px) {
        display: none;
    }
    position: absolute;
    bottom: 40px;
    height: 40px;
    background: rgba(255,255,255,.9);
    width: 100%;
    z-index: 999;
    border-bottom: 1px solid #eee;
    color: #555;
    display: flex;
    .follow-item {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        &.follow-btn {
            &.active {
                color: #e74c3c;
            }
        }
        &.center-btn {
            border-left: 1px solid #eee;
        }
    }
}
.info {
    @media(min-width: 1200px) {
        display: none;
    }
    font-size: .8em;
    color: #555;
    position: absolute;
    top: -28px;
    height: 28px;
    background: rgba(255,255,255,.9);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    .info-item {
        padding: 0 5px;
    }
    &.active {
        top: 0;
    }
    transition: top .3s ease-in-out;
}