<div
	leaflet
	style="height: 100%;"
    [leafletOptions]="options"
    [(leafletCenter)]="center"
    [leafletZoom]="zoom"
    [leafletLayers]="layers"
    [leafletFitBounds]="fitBounds"
    (leafletMapReady)="onMapReady($event)"
>
</div>
<div [class]="['info', isFollowing() ? 'active' : ''].join(' ')">
        <span class="info-item">
            <i class="heading fa fa-compass"></i>
            <i *ngIf="heading != null" class="heading fa fa-arrow-up" [style.transform]="'rotate(' + heading + 'deg)'"></i>
            <!-- <i *ngIf="heading == null" class="heading far fa-circle"></i> -->
        </span>
    <span class="info-item">
        <i class="fa fa-mountain"></i> <span *ngIf="altitude !== null" > {{altitude}} m</span>
    </span>
    <span class="info-item">
        <i  class="fa fa-tachometer-alt"></i><span *ngIf="speed !== null"> {{speed}} km/h</span>
    </span>
</div>
<div *ngIf="route" [class]="['route', isFollowing() ? 'down' : ''].join(' ')">
    <span class="info-item">
        <i class="heading fa fa-route"></i> {{this.routeDistance}} km
    </span>
    <span class="info-item">
        <i class="heading fa fa-duration"></i> {{this.routeDuration}} min
    </span>
    <span class="info-item" (click)="onRouteRemove()">
        <i class="fa fa-times"></i>
    </span>
</div>
<div class="follow-control zoom"  >
    <div [class]="['btn', 'follow-item','follow-btn', isFollowing() ? 'active': ''].join(' ')" (click)="onToggleFollow()">
        <i class="fa fa-location-arrow"></i>
    </div>
    <div class="btn follow-item center-btn" (click)="onCenter()">
        <i class="fa fa-compress"></i>
    </div>
</div>
<div class="zoom-control">
    <span [class]="['btn', 'zoom zoom-far', zoom === 9 ? 'active' : '', zoom === 10 ? 'more-active' : ''].join(' ')" (click)="onZoom(9)"><i class="fa fa-globe"></i></span>
    <span [class]="['btn', 'zoom zoom-mid', zoom === 12 ? 'active' : '', zoom === 13 ? 'more-active' : ''].join(' ')" (click)="onZoom(12)"><i class="fa fa-city"></i></span>
    <span [class]="['btn', 'zoom zoom-near', zoom === 15 ? 'active' : '', zoom === 16 ? 'more-active' : ''].join(' ')" (click)="onZoom(15)"><i class="fa fa-street-view"></i></span>
</div>