/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}
@media (max-width: 1200px) {
    .leaflet-control-attribution, .leaflet-control-zoom {
        display: none;
    }
    .leaflet-bottom {
        bottom: 80px !important;
    }
}

.btn {
    -webkit-tap-highlight-color: rgba(220, 220, 220, .4);
}
.btn:active {
    background: rgba(220, 220, 220, .4)
}